anyio==4.9.0
appdirs==1.4.4
asgiref==3.8.1
autopep8==2.3.2
base58==2.1.1
cachetools==6.0.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
crispy-bootstrap5==2025.6
Django==5.2.3
django-crispy-forms==2.4
django-filter==25.1
flake8==7.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
ipfs_node==0.1.8
ipfs_tk==0.1.3
ipfs_toolkit==0.5.33
ipfshttpclient==0.7.0
mccabe==0.7.0
multiaddr==0.0.9
netaddr==1.3.0
pycodestyle==2.13.0
pycparser==2.22
pyflakes==3.3.2
requests==2.32.4
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
termcolor==3.1.0
typing_extensions==4.14.0
urllib3==2.4.0
varint==1.0.2
wheel==0.45.1
