<!-- prettier-ignore -->
{% extends "base.html" %}

{% block title_append %}
Listagem
{% endblock %}

{% block subtitle %}
Listagem
{% endblock %}

{% block content %}
<div class="row">
	<aside class="col-md-3 mb-4">
		<div class="list-group mb-4">
			<a
				href="{% url 'institution_list' %}"
				class="list-group-item list-group-item-action {% if entity_type == 'institutions' %}active{% endif %}">
				<i class="bi bi-building"></i> Instituições
			</a>
			<a href="#" class="list-group-item list-group-item-action {% if entity_type == 'diplomas' %}active{% endif %}">
				<i class="bi bi-file-earmark-text"></i> Diplomas
			</a>
			<a href="#" class="list-group-item list-group-item-action {% if entity_type == 'people' %}active{% endif %}">
				<i class="bi bi-person-badge"></i> Titulares
			</a>
		</div>

		<form method="get" class="d-grid gap-3">
			<fieldset class="border rounded p-3 mb-4">
				<legend class="fs-6 text-muted">Filtros</legend>
				<!-- prettier-ignore -->
				{% block filters %}
				{% endblock %}
				<div class="d-flex gap-2">
					<button type="submit" class="btn btn-outline-primary shadow-sm"><i class="bi bi-funnel-fill"></i> Filtrar</button>
					<a href="{% url 'institution_list' %}" class="btn btn-outline-warning shadow-sm"> Limpar </a>
				</div>
			</fieldset>
		</form>
	</aside>

	<section class="col-md-9">
		{% block results %}
		<div class="alert alert-info">Nenhum resultado encontrado.</div>
		<!-- prettier-ignore -->
		{% endblock %}
		{% if is_paginated %}
		{% include 'components/pagination.html' %}
		{% endif %}
	</section>
</div>
{% endblock %}
