<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_append %}
Solicitar Verificação de Domínio
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
	<a href="{% url 'home' %}" class="breadcrumb-link">
		<i class="fas fa-home"></i>
	</a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'institution_profile' %}" class="breadcrumb-link">Perfil Institucional</a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'domain_verification_request' %}" class="breadcrumb-link" aria-current="page">
		Verificação de Domínio
	</a>
</li>
{% endblock %}

<!-- prettier-ignore -->
{% block subtitle %}
Informe o domínio para iniciar o processo de verificação
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
		<form method="post" novalidate>
			<!-- prettier-ignore -->
			{% csrf_token %} 
            {{ form|crispy }}
			<div class="d-flex justify-content-end gap-2">
				<button type="submit" class="btn btn-success px-4">Gerar Token de Verificação</button>
				<a href="{% url 'institution_profile' %}" class="btn btn-danger">Cancelar</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
