<!-- prettier-ignore -->
{% extends 'base.html' %}

{% block title_append %}
Detalhes do Documento
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
	<a href="{% url 'home' %}" class="breadcrumb-link"><i class="fas fa-home"></i></a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'document_list' %}" class="breadcrumb-link">Documentos</a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'document_detail' document_id=document.id %}" class="breadcrumb-link" aria-current="page">
		{{ document }}
	</a>
</li>
{% endblock %}

<!-- prettier-ignore -->
{% block subtitle %}
Visualização do Documento
{% endblock %}

{% block content %}
<div class="card mb-3">
	<div class="card-header">
		<strong>Informações do Documento</strong>
	</div>
	<div class="card-body">
		<p><strong>Arquivo:</strong> {{ document }}</p>
		<p>
			<strong>IPFS:</strong>
			<a href="http://localhost:8080/ipfs/{{ document.ipfs_cid }}" target="_blank" rel="noopener noreferrer">
				{{ document.ipfs_cid }}
			</a>
		</p>
		<p>
			<strong>Titular:</strong>
			<a href="{% url 'subject_detail' subject_id=document.subject.id %}"> {{ document.subject.full_name }} </a>
		</p>
		<p>
			<strong>Instituição:</strong>
			<a href="{% url 'institution_detail' institution_id=document.institution.id %}"> {{ document.institution.name }} </a>
		</p>
		<p><strong>Data de envio:</strong> {{ document.upload_date|date:"d/m/Y H:i" }}</p>
		<p><strong>Última atualização:</strong> {{ document.update_date|date:"d/m/Y H:i" }}</p>
	</div>
</div>
<div class="card">
	<div class="card-header"><strong>Visualização</strong></div>
	<div class="card-body">
		<canvas id="pdf-canvas" style="width: 100%; height: auto"></canvas>
	</div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>

<script>
	const ipfsCid = `{{ document.ipfs_cid|default_if_none:"" }}`;
	const localUrl = `{{ document.file.url }}`;
	const url = ipfsCid ? `http://localhost:8080/ipfs/${ipfsCid}` : localUrl;

	const pdfjsLib = window['pdfjs-dist/build/pdf'];
	pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.worker.min.js';
	const loadingTask = pdfjsLib.getDocument(url);
	loadingTask.promise.then(function (pdf) {
		pdf.getPage(1).then(function (page) {
			const scale = 1.5;
			const viewport = page.getViewport({ scale: scale });

			const canvas = document.getElementById('pdf-canvas');
			const context = canvas.getContext('2d');
			canvas.height = viewport.height;
			canvas.width = viewport.width;

			const renderContext = {
				canvasContext: context,
				viewport: viewport,
			};
			page.render(renderContext);
		});
	});
</script>
{% endblock %}
