:root {
	--dark-black: #212529;
	--light-white: #f8f9fa;

	--hover-inverse-light: #e0e0e0;
	--active-inverse-light: #d6d6d6;
	--focus-inverse-light: #cccccc;

	--hover-inverse-dark: #343a40;
	--active-inverse-dark: #495057;
	--focus-inverse-dark: #5a5a5a;
}

.theme-inverse {
	color: var(--light-white);
	transition: color 0.2s ease;
}

.theme-inverse:hover {
	color: var(--hover-inverse-light);
}

.theme-inverse:active {
	color: var(--active-inverse-light);
}

.theme-inverse:focus {
	color: var(--focus-inverse-light);
	outline: none;
}

[data-bs-theme='dark'] .theme-inverse {
	color: var(--dark-black);
}

[data-bs-theme='dark'] .theme-inverse:hover {
	color: var(--hover-inverse-dark);
}

[data-bs-theme='dark'] .theme-inverse:active {
	color: var(--active-inverse-dark);
}

[data-bs-theme='dark'] .theme-inverse:focus {
	color: var(--focus-inverse-dark);
	outline: none;
}

.btn-brand {
	background-color: #4fa8d3;
	border: none;
	transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.btn-brand:hover,
.btn-brand:focus {
	background-color: #3a93c0;
}

.btn-hover-round {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background-color: transparent;
	border: none;
	transition: background-color 0.1s ease;
}

.btn-hover-round:hover {
	background-color: rgba(79, 168, 211, 0.5);
}

.breadcrumb-link {
	text-decoration: none;
	color: #555;
	font-weight: 500;
	transition: color 0.2s ease, text-decoration 0.2s ease;
}

.breadcrumb-link:hover,
.breadcrumb-link:focus {
	color: #73c7ee;
	text-decoration: underline;
}

.breadcrumb-container {
	max-width: 60%;
}

.breadcrumb-scroll {
	overflow-x: auto;
}

.breadcrumb-item {
	flex-shrink: 0;
}
