{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_append %}Login{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="card border-0 shadow-lg col-11 col-md-8 col-lg-4">
        <div class="bg-primary py-2 rounded-top"></div>

        <div class="card-body p-4 mb-4">
            <h2 class="text-center mb-4 mt-2 text-body">Login</h2>

            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form|crispy }}
                </div>

                <div class="text-center mb-4">
                    <a href="#" class="text-decoration-none link-primary link-offset-2-hover">
                        Esqueceu sua senha?
                    </a>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">
                    Entrar
                </button>
            </form>

            <div class="text-center mt-4 pt-3">
                <span class="text-body-tertiary">Não possui uma conta?</span>
                <a href="#" class="text-decoration-none link-primary link-offset-2-hover ms-1">
                    Cadastre-se
                </a>
            </div>
        </div>

        <div class="bg-primary py-1 rounded-bottom"></div>
    </div>
</div>
{% endblock %}