<!-- prettier-ignore -->
{% extends "entity_list_base.html" %}
{% load crispy_forms_tags %}

{% block title_append %}
Titulares
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
	<a href="{% url 'home' %}" class="breadcrumb-link">
		<i class="fas fa-home"></i>
	</a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'subject_list' %}" class="breadcrumb-link" aria-current="page">Titulares</a>
</li>
{% endblock %}

<!-- prettier-ignore -->
{% block subtitle %}
Titulares Cadastrados
{% endblock %}

{% block filters %}
{{ filter.form|crispy }}
{% endblock %}

<!-- prettier-ignore -->
{% block results %}
{% if subjects %}
<ul class="list-group">
	{% for subject in subjects %}
	<li class="list-group-item">
		<h5 class="mb-1">{{ subject.full_name }}</h5>
		<p class="mb-1"><strong>E-mail:</strong> {{ subject.user.email }}</p>
		{% if subject.birth_date %}
		<small><strong>Data de nascimento:</strong> {{ subject.birth_date|date:"d/m/Y" }}</small>
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% else %}
<div class="alert alert-info">Nenhum titular encontrado.</div>
<!-- prettier-ignore -->
{% endif %}
{% endblock %}
