<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
	<symbol id="sun-fill" viewBox="0 0 16 16" fill="currentColor">
		<path d="M8 4.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Z" />
		<path
			d="M8 0a.5.5 0 0 1 .5.5V2a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 8 0ZM8 14a.5.5 0 0 1 .5.5v1.5a.5.5 0 0 1-1 0V14.5A.5.5 0 0 1 8 14Zm8-6a.5.5 0 0 1-.5.5H14a.5.5 0 0 1 0-1h1.5a.5.5 0 0 1 .5.5ZM2 8a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1 0-1H1.5A.5.5 0 0 1 2 8Zm11.657-5.657a.5.5 0 0 1 0 .707L12.414 4.293a.5.5 0 0 1-.707-.707l1.243-1.243a.5.5 0 0 1 .707 0Zm-9.9 9.9a.5.5 0 0 1 0 .707L2.514 13.707a.5.5 0 1 1-.707-.707l1.243-1.243a.5.5 0 0 1 .707 0ZM13.657 13.657a.5.5 0 0 1-.707 0l-1.243-1.243a.5.5 0 0 1 .707-.707l1.243 1.243a.5.5 0 0 1 0 .707ZM2.343 2.343a.5.5 0 0 1 0 .707L1.1 4.293a.5.5 0 1 1-.707-.707l1.243-1.243a.5.5 0 0 1 .707 0Z" />
	</symbol>
	<symbol id="moon-stars-fill" viewBox="0 0 16 16" fill="currentColor">
		<path
			d="M6 0a.5.5 0 0 1 .496.438c.077.69.238 1.345.465 1.947a7.002 7.002 0 0 0 6.654 4.615c.66 0 1.316-.082 1.947-.239a.5.5 0 0 1 .558.7A8 8 0 1 1 6 0Z" />
		<path
			d="M11.286 1.778a.5.5 0 0 1 .948 0l.192.577a.5.5 0 0 0 .316.316l.577.192a.5.5 0 0 1 0 .948l-.577.192a.5.5 0 0 0-.316.316l-.192.577a.5.5 0 0 1-.948 0l-.192-.577a.5.5 0 0 0-.316-.316l-.577-.192a.5.5 0 0 1 0-.948l.577-.192a.5.5 0 0 0 .316-.316l.192-.577Z" />
	</symbol>
	<symbol id="circle-half" viewBox="0 0 16 16" fill="currentColor">
		<circle cx="8" cy="8" r="7.5" stroke="currentColor" stroke-width="1" fill="none" />
		<path d="M8 15A7 7 0 1 0 8 1v14Z" />
	</symbol>
</svg>
<div class="dropdown">
	<button
		class="btn dropdown-toggle border-0 theme-inverse no-caret btn-hover-circle"
		id="bd-theme"
		type="button"
		data-bs-toggle="dropdown"
		aria-expanded="false"
		aria-label="Toggle theme">
		<svg class="bi me-2 theme-icon-active theme-inverse" width="1em" height="1em">
			<use href="#circle-half"></use>
		</svg>
		<span id="bd-theme-text"></span>
	</button>
	<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme">
		<li>
			<button
				type="button"
				class="dropdown-item d-flex align-items-center"
				data-bs-theme-value="light"
				aria-pressed="false">
				<svg class="bi me-2" width="1em" height="1em">
					<use href="#sun-fill"></use>
				</svg>
				Claro
			</button>
		</li>
		<li>
			<button
				type="button"
				class="dropdown-item d-flex align-items-center"
				data-bs-theme-value="dark"
				aria-pressed="false">
				<svg class="bi me-2" width="1em" height="1em">
					<use href="#moon-stars-fill"></use>
				</svg>
				Escuro
			</button>
		</li>
		<li>
			<button
				type="button"
				class="dropdown-item d-flex align-items-center active"
				data-bs-theme-value="auto"
				aria-pressed="true">
				<svg class="bi me-2" width="1em" height="1em">
					<use href="#circle-half"></use>
				</svg>
				Auto
			</button>
		</li>
	</ul>
</div>
