<div class="offcanvas offcanvas-start bg-primary" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
	<div class="container-fluid py-2">
		<div class="d-flex justify-content-between align-items-center">
			<button type="button" class="btn border-0 btn-hover-round" data-bs-dismiss="offcanvas" aria-label="Close">
				<i class="fas fa-times fa-lg text-dark"></i>
			</button>
			<h5 class="offcanvas-title text-dark mb-0 ms-2" id="sidebarLabel">Veridy</h5>
		</div>
		<hr class="section-divider text-dark" />
		<div class="offcanvas-body p-0">
			<div class="sections-container">
				<div class="section">
					<h6 class="section-title text-dark">GERAL</h6>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="sidebar-link text-dark" href="{% url 'home' %}"> <i class="fas fa-home me-2"></i> Início</a>
						</li>
						<li class="nav-item">
							<a class="sidebar-link text-dark" href="{% url 'institution_list' %}">
								<i class="fas fa-university me-2"></i> Instituições
							</a>
						</li>
						<li class="nav-item">
							<a class="sidebar-link text-dark" href="{% url 'document_list' %}">
								<i class="fas fa-certificate me-2"></i> Diplomas
							</a>
						</li>
						<li class="nav-item">
							<a class="sidebar-link text-dark" href="{% url 'subject_list' %}">
								<i class="fas fa-user me-2"></i> Titulares
							</a>
						</li>
					</ul>
				</div>
				{% if user.is_authenticated %}
				<hr class="section-divider text-dark" />
				{% if user.is_institution %}
				<div class="section">
					<h6 class="section-title text-dark">INSTITUIÇÃO</h6>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="sidebar-link text-dark" href="{% url 'institution_profile' %}">
								<i class="fas fa-id-card me-2"></i> Meu Perfil
							</a>
						</li>
						<li class="nav-item">
							<a class="sidebar-link text-dark" href="{% url 'document_upload' %}">
								<i class="fas fa-upload me-2"></i> Novo Certificado
							</a>
						</li>
					</ul>
				</div>
				<!-- prettier-ignore -->
				{% endif %}
				{% if user.is_subject %}
				<div class="section">
					<h6 class="section-title text-dark">TITULAR</h6>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="sidebar-link text-dark" href="{% url 'subject_profile' %}">
								<i class="fas fa-id-card me-2"></i> Meu Perfil
							</a>
						</li>
					</ul>
				</div>
				<!-- prettier-ignore -->
				{% endif %}
				{% endif %}
				<hr class="section-divider text-dark" />
			</div>
		</div>
	</div>
</div>
