<!-- prettier-ignore -->
{% extends 'base.html' %}

{% block title_append %}
Perfil da Instituição
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
	<a href="{% url 'home' %}" class="breadcrumb-link">
		<i class="fas fa-home"></i>
	</a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'institution_profile' %}" class="breadcrumb-link" aria-current="page">Perfil da Instituição</a>
</li>
{% endblock %}

<!-- prettier-ignore -->
{% block subtitle %}
Perfil da instituição
{% endblock %}

{% block content %}
<div class="card mb-3">
	<div class="card-header">
		<strong>Informações da Instituição</strong>
		<a
			href="{% url 'institution_edit' %}"
			class="btn btn-link btn-md position-absolute end-0 top-0 me-1"
			title="Editar Informações">
			<i class="fas fa-edit"></i>
		</a>
	</div>
	<div class="card-body">
		<p><strong>Nome:</strong> {{ institution.name }}</p>
		<p><strong>Domínio:</strong> {{ institution.domain|default_if_none:'Pendente' }}</p>
		<p><strong>E-mail institucional:</strong> {{ institution.user.email }}</p>
		<p><strong>Telefone:</strong> {{ institution.phone|default_if_none:'Pendente' }}</p>
		<p><strong>Endereço completo:</strong> {{ institution.full_address|default_if_none:'Pendente' }}</p>
		<p><strong>Cidade:</strong> {{ institution.city|default_if_none:'Pendente' }}</p>
		<p><strong>Estado:</strong> {{ institution.state|default_if_none:'Pendente' }}</p>
		<p><strong>País:</strong> {{ institution.country|default_if_none:'Pendente' }}</p>
	</div>
</div>
<div class="card mb-3">
	<div class="card-header">
		<strong>Representante Legal</strong>
		<a
			href="{% url 'legal_representative_edit' %}"
			class="btn btn-link btn-md position-absolute end-0 top-0 me-1"
			title="Editar Informações">
			<i class="fas fa-edit"></i>
		</a>
	</div>
	<div class="card-body">
		{% if institution.representative %}
		<p><strong>Nome:</strong> {{ institution.representative.name|default_if_none:'Pendente' }}</p>
		<p><strong>Cargo:</strong> {{ institution.representative.role|default_if_none:'Pendente' }}</p>
		<p><strong>E-mail:</strong> {{ institution.representative.email|default_if_none:'Pendente' }}</p>
		<p><strong>Telefone:</strong> {{ institution.representative.phone|default_if_none:'Pendente' }}</p>
		{% else %}
		<p><strong>Pendente</strong></p>
		{% endif %}
	</div>
</div>
{% endblock %}
