<!-- prettier-ignore -->
{% extends 'entity_registration_base.html' %}
{% load crispy_forms_tags %}

{% block title_append %}
Cadastrar Instituição
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
	<a href="{% url 'home' %}" class="breadcrumb-link">
		<i class="fas fa-home"></i>
	</a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'institution_registration' %}" class="breadcrumb-link" aria-current="page">Cadastrar Instituição</a>
</li>
{% endblock %}

<!-- prettier-ignore -->
{% block subtitle %}
Cadastrar instituição
{% endblock %}

{% block registration_form %}
<form method="post">
	{% csrf_token %}
	<div class="shadow-sm">
		<div class="bg-primary py-2 rounded-top"></div>
		<fieldset class="border rounded-bottom p-3 mb-3">
			<legend>Dados da Instituição</legend>
			<div class="row">
				<div class="col-md-9">{{ form.name|as_crispy_field }}</div>
				<div class="col-md-3">{{ form.acronym|as_crispy_field }}</div>
			</div>
			<div class="row">
				<div class="col-md-6">{{ form.username|as_crispy_field }}</div>
				<div class="col-md-6">{{ form.email|as_crispy_field }}</div>
			</div>
			<div class="row">
				<div class="col-md-6">{{ form.password1|as_crispy_field }}</div>
				<div class="col-md-6">{{ form.password2|as_crispy_field }}</div>
			</div>
		</fieldset>
	</div>
	<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}
