<!-- prettier-ignore -->
{% extends "entity_list_base.html" %}
{% load crispy_forms_tags %}

{% block title_append %}
Instituições
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
	<a href="{% url 'home' %}" class="breadcrumb-link">
		<i class="fas fa-home"></i>
	</a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'institution_list' %}" class="breadcrumb-link" aria-current="page">Instituições</a>
</li>
{% endblock %}

<!-- prettier-ignore -->
{% block subtitle %}
Instituições Cadastradas
{% endblock %}

{% block filters %}
{{ filter.form|crispy }}
{% endblock %}

<!-- prettier-ignore -->
{% block results %}
{% if institutions %}
<ul class="list-group">
	{% for institution in institutions %}
	<div class="bg-primary py-2 rounded-top"></div>
	<li class="list-group-item">
		<a
			href="{% url 'institution_detail' institution_id=institution.id %}"
			class="d-block text-reset text-decoration-none">
			<h5 class="mb-1">{{ institution.name }}</h5>
			<p class="mb-1"><strong>Domínio:</strong> {{ institution.domain }}</p>
			<small>{{ institution.city }}, {{ institution.state }} — {{ institution.country }}</small>
		</a>
	</li>
	{% endfor %}
</ul>
{% else %}
<div class="alert alert-info">Nenhuma instituição encontrada.</div>
<!-- prettier-ignore -->
{% endif %}
{% endblock %}
