{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_append %}Editar Instituição{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'home' %}" class="text-dark">
    <i class="fas fa-home"></i>
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'institution_profile' %}" class="text-dark">Perfil Institucional</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'institution_edit' %}" class="text-dark">Editar</a>
</li>
{% endblock %}
{% block content %}
<div class="row align-items-center mb-4">
    <div class="col">
        <h2>Editar Dados Institucionais</h2>
    </div>
    <div class="col-auto">
        <a href="javascript:history.back()" class="btn btn-info">
        <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    
    <fieldset class="border border-secondary rounded p-3 mb-4">
        <legend class="text-secondary">Dados da Instituição</legend>
        <div class="row">
            <div class="col-md-6">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.tax_id|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.domain|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.institutional_email|as_crispy_field }}
            </div>
        </div>
    </fieldset>

    <fieldset class="border border-secondary rounded p-3 mb-4">
        <legend class="text-secondary">Informações de Contato</legend>
        <div class="row">
            <div class="col-md-4">
                {{ form.phone|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.city|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.state|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form.country|as_crispy_field }}
            </div>
        </div>
    </fieldset>

    <fieldset class="border border-secondary rounded p-3 mb-4">
        <legend class="text-secondary">Endereço Completo</legend>
        <div class="row">
            <div class="col-12">
                {{ form.full_address|as_crispy_field }}
            </div>
        </div>
    </fieldset>

    <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-success px-4">Salvar Alterações</button>
        <a href="{% url 'institution_profile' %}" class="btn btn-danger">Cancelar</a>
    </div>
</form>
{% endblock %}