<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_append %}
Editar Responsável Legal
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
	<a href="{% url 'home' %}" class="breadcrumb-link">
		<i class="fas fa-home"></i>
	</a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'institution_profile' %}" class="breadcrumb-link">Perfil Institucional</a>
</li>
<li class="breadcrumb-item">
	<a href="{% url 'legal_representative_edit' %}" class="breadcrumb-link" aria-current="page"
		>Editar Responsável Legal</a
	>
</li>
{% endblock %}

<!-- prettier-ignore -->
{% block subtitle %}
Editar os dados do responsável legal
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<fieldset class="border rounded p-3 mb-4">
		<legend>Dados do Responsável</legend>
		<div class="row">
			<div class="col-md-6">{{ form.name|as_crispy_field }}</div>
			<div class="col-md-6">{{ form.role|as_crispy_field }}</div>
		</div>
		<div class="row">
			<div class="col-md-6">{{ form.email|as_crispy_field }}</div>
			<div class="col-md-6">{{ form.phone|as_crispy_field }}</div>
		</div>
	</fieldset>
	<div class="d-flex justify-content-end gap-2">
		<button type="submit" class="btn btn-success px-4">Salvar Alterações</button>
		<a href="{% url 'institution_profile' %}" class="btn btn-danger">Cancelar</a>
	</div>
</form>
{% endblock %}
